<md-toolbar color="primary">
  <span>Angular S3 File Finder</span>

</md-toolbar>

<md-expansion-panel>
  <md-expansion-panel-header>
    <md-panel-title>
      AWS Details
    </md-panel-title>
    <md-panel-description>
      Input Your AWS Details
    </md-panel-description>
  </md-expansion-panel-header>
  
  <md-form-field>
    <input mdInput placeholder="ACCESS KEY" [formControl]="accessKeyIdForm">
  </md-form-field>
  
  <md-form-field>
    <input mdInput placeholder="SECRET KEY" [formControl]="secretAccessKeyForm">
  </md-form-field>

  <md-form-field>
    <input mdInput placeholder="BUCKET REGION" [formControl]="bucketRegionForm">
  </md-form-field>

  <md-form-field>
    <input mdInput placeholder="BUCKET NAME" [formControl]="bucketNameForm">
  </md-form-field>

  <button md-raised-button color="primary" (click)="onSubmit()">Submit</button>
</md-expansion-panel>

<md-list *ngFor="let item of contents">
    <md-list-item>
      <md-icon md-list-icon>note</md-icon>
      <h4 md-line>{{item?.Key}}</h4>
      <p md-line> {{item?.LastModified | date}} </p>
    </md-list-item>
</md-list>
